.users-wrapper{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.search-field{
    flex: 0 auto;
    border-bottom: 1px solid #bdbdbd;
    padding: 24px;
}

.table-wrapper{
    flex:1;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.table-holder{
    flex:1;
    height: 30vh;
    overflow: hidden;
    display: flex;
}

.table-pagination{
    flex: 0 55px;
    border-top: 1px solid #bdbdbd;
}

.table-header{
    flex: 0;
    display: flex;
    width: 100%;
}

