.terms-wrapper{
    display: grid;
    width: 100%;
    height: 100vh;
    align-content: center;
    justify-content: center;
}


.terms-container{
    height: 80vh;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    overflow: auto;
    box-sizing: border-box;
    padding: 80px;
}

.terms-container>p{
    font-family: 'Montserrat',  sans-serif;
    font-size: 14px;
    color: #888888;
}

.main-button{
    width: 200px;
    align-self: flex-end;
}