.app-wrapper{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 150px 1fr;
    box-sizing: border-box;
}

.content-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
}

.main-header{
    flex: 0;
}

.content-container{
    flex: 1;
    box-sizing: border-box;
    overflow: hidden;
}